{% load staticfiles %}
<html>
    <head>

        <title>The Webform Genterator</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/webform.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>

        <div class="page-header">
            <a href="/accounts/logout/"><h3><span class="glyphicon glyphicon-log-out"></span> logout</h3></a>
            <h1><a href="/index/">Webforms R Us</a></h1>
            <a href="/new_form/"><h2>Generate form  <span class="glyphicon glyphicon-plus"></span></h2></a>

        </div>

        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
     </body>
</html>
