{% extends 'polls/base1.html' %}

{% block content %}

    <form>
        {% if text_quest_list %}
            {% for question in text_quest_list %}
                <h1>
                    {{ question.question_text }}
                </h1>
                {{ form.as_p }}
            {% endfor %}
        {% endif %}

        {% if choice_quest_list %}
            <ul>
                {% for question in choice_quest_list %}
                    <h1>
                        {{ question.question_text }}
                    </h1>
                    <form method="post">
                        {% for choice in question.choice_set.all %}
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                            <label for="choice{{ forloop.counter }}">
                                {{ choice.choice_text }}
                            </label>
                        {% endfor %}
                    </form>
                {% endfor %}
            </ul>
        {% endif %}
    </form>

{% endblock %}
