{% extends 'polls/base.html' %}

{% block content %}
    {% if forms %}
        <ul>
            {% for form in forms %}
                <li>
                    <h1><a href="{% url 'polls:form_detail' pk=form.pk %}">
                        {{ form.fname }}
                    </a></h1>

                    <i>
                        {{  form.description  }}
                    </i>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            No webforms are available.
        </p>
    {% endif %}

{% endblock %}
