{% extends 'polls/base2.html' %}

{% block content %}

    {% if form.errors %}
        <p class="error">Sorry, that's not a valid password or username</p>
    {% endif %}

    <form action="/accounts/make_new_user/" method="post">{% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" value="" id="username">
        <label for="email">email:</label>
        <input type="email" name="email" value="" id="email">
        <label for="password">password:</label>
        <input type="password" name="password" value="" id="password">
        <br>
        <input type="submit" value="login" />

    </form>

{% endblock %}
